<header class="site-header">
  <div class="wrapper">
    <nav class="site-nav">
      <ul>
        <li><a href="{{ site.baseurl }}/">home</a></li>
        {% for page in site.pages %}
        {% if page.title == "portfolio" %}
        <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        <ul>
          {% for page in site.portfolio %}
          <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endfor %}
        </ul>
        </li>
        {% elsif page.title %}
        <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
