// START SITE HEADER
.site-header {
  background-color: $background-color;
  border-bottom: 1px solid $grey-color-light;
  height: 56px;
  left: 0;
  opacity: 75;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

.site-nav {
  float: right;
  margin-top: 12px;

  :hover > ul {
    display: block;
  }

  ul {
    float: left;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    position: relative;

    a {
      display: block;
      font-size: 12px;
      line-height: 32px;
      padding: 0 15px;
      text-decoration: none;
    }

    li {
      float: left;
      margin: 0;
      padding: 0;
      position: relative;
    }

    ul {
      background: $white;
      display: none;
      left: 0;
      padding: 0;
      position: absolute;
      top: 100%;
    }
  }
}

.header-bar {
  display: block;
  font-size: 20px;
  left: 0;
  line-height: 3em;
  opacity: .75;
  padding-top: 25px;
  position: relative;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 25;

  h1 {
    color: $theme-color;
    font-size: 75px;
  }

  h2 {
    font-size: 25px;
  }
}
// END SITE HEADER

// START PAGE CONTENT
.page-content {
  padding: 100px 0; // VERTICAL PADDING FOR TITLE ON EVERY PAGE
}

.page-heading {
  font-size: 20px;
}

.post-list {
  list-style: none;
  margin: 0;

  > li {
    margin-bottom: $vertical-spacing-unit;
  }
}

.contacticon {
  display: block;
  font-size: 60px;
  margin: 10px;
}

.center {
  text-align: center;
}
// END PAGE CONTENT
// START POSTS
.post-header {
  margin-bottom: $vertical-spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  h2 {
    font-size: 42px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 30px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

.post-meta {
  color: $grey-color;
  font-size: $small-font-size;
  margin-bottom: 0;
}

.post-link {
  display: block;
  font-size: 42px;
}
// END POSTS
// START PORTFOLIO GRID
// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}

.clearfix:after {
  clear: both;
}

.project {
  box-sizing: border-box;
  float: left;
  height: 250px;
  padding: 10px;
  vertical-align: middle;
  width: 33.33%;
}

.thumbnail {
  height: 230px;
  overflow: hidden;
  width: 100%;

  img {
    height: auto;
    left: -25%;
    position: relative;
    top: -5%;
    width: 500px;
  }

  :hover > span {
    display: block;
  }

  a {
    float: left;
    height: 230px;
    position: relative;
    width: 100%;

    span {
      background: rgba(0, 0, 0, .4);
      bottom: 0;
      color: $grey-color-light;
      display: none;
      left: 0;
      padding: 40px;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
    }
  }
}
// END PORTFOLIO GRID

// START PORTFOLIO PAGES
.blankbox {
  background: $theme-color;
}

.img-row {
  box-sizing: border-box;
  height: $img-height;
  overflow: hidden;
  padding: $img-spacing;
  width: 100%;
}

.col {
  box-sizing: border-box;
  float: left;
  height: 100%;
  object-fit: cover;
  padding: $img-spacing;
  width: 100%;
}

.right {
  float: right;
}

.one {
  width: 33.33%;
}

.two {
  width: 66.66%;
}

.three {
  width: 100%;
}

.caption {
  color: $caption-color;
  font-size: $caption-font-size;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}
